<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>View All Courses</title>
    </head>
    <body>
        <h1>All Courses</h1>
        
    	<div th:each="course,iterationStatus: ${courses}">          
            <h3 th:text="'No. ' + ${iterationStatus.count}">No. 1</h3>
	       	<h3 th:text="'Name = ' + ${course.name}"> Name</h3>
	       	<h3 th:text="'Credit = ' + ${course.credits}"> Credit</h3>
	       	<h3>Mahasiswa yang mengambil</h3>
	       	<ul th:each="student,iterationStatus: ${student.students}">
	   			<li th:text = "${student.npm} + '-' + ${student.name}">
	   			Nama Kuliah-X SKS
	   			</li>
   			</ul>
	       	<hr/>
       	</div>
    </body>
</html>
